<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/design/projekt.css">

<body>
    <div class="uzenet display--none"></div>
    <div class="uzenet display--none"></div>
    <div class="uzenet display--none"></div>
    <div class="uzenet display--none"></div>
    <div id="deleteDiv" class="display--none">
        <p>Biztosan törölni szeretnéd?</p>
        <button onclick="User.applyDelete('true')">Igen</button>
        <button onclick="User.applyDelete('false')">Nem</button>
    </div>
    <nav>
        <a href="">Főoldal</a>
        <a href="">Rólunk</a>
        <a href="">Kapcsolat</a>
    </nav>
    <header>

        <div>Brainoverflow Admin</div>
    </header>
    <main>
        <div class="newUserDiv">
            <label for="newUser">Új felhasználó</label>
            <input type="text" name="newUser" id="newUser" placeholder="Name" required>
            <input type="email" name="newUser" id="newUserEmail" placeholder="Email address" required>
            <input type="text" name="newUser" id="newUserAddress" placeholder="Address" required>
            <button type="submit" onclick="User.create()" value="Hozzáadás">Hozzáadás</button>
            <button onclick="User.clear()">Mégse</button>
        </div>
        <div class="users">
            <table class="users__table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email address</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody class="users__data">

                </tbody>
            </table>
        </div>
    </main>
    <footer>

    <footer>
    </footer>

    <script src="/scripts/projektSara.js"></script>
</body>

</html>