<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet"
      href="/design/projekt.css">

<body>
    <div id="fixFejlec">
        <nav>
            <a href="">Főoldal</a>
            <a href="">Rólunk</a>
            <a href="">Kapcsolat</a>
        </nav>
        <header>
            <div>brainOverflow Admin</div>
        </header>
        <div class="uzenetKeret">
            <div class="display--none"
                 id="ujFelhasznaloUresMezok">Minden mezőbe írj legalább egy karaktert!</div>
            <div class="display--none"
                 id="ujFelhasznaloSikeresenRogzitve">Az új felhasználó sikeresen rögzítve!</div>
            <div class="display--none"
                 id="felhasznaloSikeresenTorolve">A felhasználó sikeresen törölve</div>
            <div class="display--none"
                 id="felhasznaloSikeresenModositva">A módosítások sikeresen mentésre kerültek!
            </div>
            <div class="display--none"
                 id="noMultiSelect">Nem módosíthatsz több felhasználót egyszerre.</div>
            <div class="display--none"
                 id="maxOfId"></div>
        </div>
        <div class="newUserDiv">
            <label for="newUser">Új felhasználó</label>
            <input type="text"
                   name="newUser"
                   id="newUser"
                   placeholder="Name"
                   required>
            <input type="email"
                   name="newUser"
                   id="newUserEmail"
                   placeholder="Email address"
                   required>
            <input type="text"
                   name="newUser"
                   id="newUserAddress"
                   placeholder="Address"
                   required>
            <button type="submit"
                    onclick="User.create()"
                    value="Hozzáadás">Hozzáadás</button>
            <button onclick="User.clear()">Mégse</button>
            <button onclick="User.maxOfUserIdUzenet()"
                    id="th5">Max of Id</button>
        </div>
        <div id="deleteDiv"
             class="display--none">
            <p>Biztosan törölni szeretnéd?</p>
            <button onclick="User.applyDelete('true')">Igen</button>
            <button onclick="User.applyDelete('false')">Nem</button>
        </div>
    </div>

    <main>
        <div class="users">
            <table class="users__table">
                <thead>
                    <tr>
                        <th id="th1">ID</th>
                        <th id="th2">Name</th>
                        <th id="th3">Email address</th>
                        <th id="th4">Address</th>
                    </tr>
                </thead>
                <tbody class=" users__data">

                </tbody>
            </table>
        </div>
    </main>
    <footer>
    </footer>

    <script src="/scripts/projektSara.js"></script>
</body>

</html>